@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.searchify-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchify-img,
.magnifying-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.magnifying-img img {
  height: 100px;
  width: auto;
  margin-bottom: 0;
}

img {
  max-width: 90%;
  height: auto;
}

.label-box {
  background-color: #a7cffa;
  width: 100%;
  margin: 0 auto;
  min-height: 45px;
  border-radius: 5px;
}

h1,
h2 {
  color: #14464b;
  font-family: "Abril Fatface", cursive;
  margin-top: 0;
}

@media screen and (max-width: 820px) {
  .searchify-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .label-box {
    margin-bottom: 25px;
    margin-top: 0;
  }
}
