nav {
  position: fixed;
  top: 10px;
  left: 12px;
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
  }

  li {
    .active {
      filter: brightness(80%);
    }
  }
}

.nav-icon {
  font-size: 45px;
  color: #a7cffa;
  margin-right: 10px;
}

.nav-icon-heart {
  font-size: 49px;
  color: #a7cffa;
  margin-right: 10px;
}

.user-picture {
  margin-right: 10px;
}
