.favorite-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
  padding: 24px;
  margin: 0 auto;

  margin-bottom: 16px;
}

.favorite-container {
  position: relative;
  width: calc(33.33% - 10px);
  margin-bottom: 30px;
  height: 500px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.582);
  padding: 20px 20px;
}

.favorite-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.favorite-container:hover {
  transform: scale(1.05);
}

.delete-button {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.797);
  border: 1px solid black;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .favorite-container {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .favorite-container {
    width: calc(100% - 20px);
  }

  .welcome-user {
    display: none;
  }
}
